*
{
    margin: 0;
    padding: 0;
}
body
{
    background:url(../Images/background.jpg);
    padding: 0;
    font-size: 16px;
    color: #777;
    font-family: sans-serif;
    font-weight: 300;
}

header{
    display: flex;
    height: 10vh;
    width: 90%;
    margin: auto;
    align-items: center;
    color: whitesmoke;
    margin-top: 15px;
    flex-flow: row wrap;
}
.logo{
    flex: 1;
}
nav{
    flex: 2;
}
li{
    list-style: none;
    size: 40px;
    padding: 8px;
    
}
.nav-link{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 18px;
    
}
.nav-links{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    
}
.nav-link:hover{
    color: black;
    background-color: white;
    padding: 8px;
    transition: 0.3s;
    border-radius: 20px;
}
#current-page{
    color: black;
    background-color: white;
    padding: 8px;
    border-radius: 20px;
}
#logo-img
{
    height: 70px;
    width: 75px;
}
.heading{
    display: flex;
    justify-content: space-around;
    margin-top: 22vh;
}
.heading h1
{
    color: white;
    margin: auto;
    font-size: 5vw;
    font-weight: 600;
}

#login-box
{
    position: relative;
    margin: 5% auto;
    height: 400px;
    width: 600px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.left-box
{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;    
}

h1
{
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
    color:black;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

input[type="text"],
input[type="password"]
{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-radius: 6px;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

input[type="submit"]
{
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    background: blue;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
    
}

input[type="submit"]:hover,
input[type="submit"]:focus
{
    background:lightblue;
    transition: 0.2s ease;
}

.right-box
{
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background-color: white;
    background-size: cover;
    background-position: center;
}

.or
{
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    background: #efefef;
    border-radius: 50%;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6);
    line-height: 40px;
    text-align: center;
}

.right-box .signinwith
{
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color:black;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}


button.social
{
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
    border-radius: 14px;
}

.facebook
{
    background: #32508e;
}
.twitter
{
    background: #55acee;
}
.google
{
    background: #dd4b39;
}

.footer
{
    display: flex;
    padding-bottom: 1px;
    height: 10vh;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: space-evenly;
}
.ft
{
    width: 7vw;
    height: 5vh;
    background-color: white;
    border-radius: 5px;
}




